<div>
<img src='https://64.media.tumblr.com/88262c423be18cd3492b6ef3be0924d9/3f2e03eb5568ed28-dc/s1280x1920/c31a6c17d25639525323f36a44c04948b6ec90cc.gif'>
<div>
    <h1>Login</h1>
    <form action="/" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Submit</button>
    </form>
</div>
</div>