<script>
document.querySelector(".loginbg").style.backgroundImage = "url('')";
</script>
<img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/hostedimages/1379795464i/605508._SX540_.jpg">
<ul>
    <% quests.forEach((quest) => { %>
        <li><%= quest.title %> - <%= quest.complete %></li>
<% }) %>
</ul>