<script>
    let questBut = document.getElementByClassName(".qicon")
    let questBox = document.getElementsByClassName(".todo");
    function openQuest() {
        questBox.style.opacity("0")
    }
    questBut.addEventListener('click', openQuest())
</script>
<div class="welcomeban">
<h1 class="name">Welcome <%= screenname %>,</h1>
<h1 class="god">Child of <%= god %></h1>
</div>
<!-- <div class="todo"></div> -->
<div class="ann">
    <form action="announcements">
        <input class="aicon" type="submit" value="">
    </form>
</div>
<div class="chiron"></div>
<div class="quests">
    <form>
        <input class="qicon" type="submit" value="">
    </form>
</div>
<div class="oracle"></div>
<div class="iris">
    <form action="message">
        <input class="iicon" type="submit" value="">
    </form>
</div>
<div class="irispic"></div>
<div class="campbg"></div>
<div class="light"></div>
<div class="light2"></div>
<div class="sun1"></div>
<div class="sun2"></div>