<div class="todo">
<form>
    <label for="yourname">Name:</label><br>
    <input type="text" id="iyname" name="iyname"><br>
    <label for="ymessage">Message:</label><br>
    <input type="text" id="iymessage" name="iymessage" style="width: 500px; height: 200px"><br><br>
    <input type="submit" value="Submit">
</form>
</div>

<div class="welcomeban">
<h1 class="name">Welcome,</h1>
<h1 class="god">Child of</h1>
</div>

<div class="campbg"></div>
<div class="light"></div>
<div class="light2"></div>
<div class="sun1"></div>
<div class="sun2"></div>