<div class="userlogin">
    <h1>LOGIN</h1>
    <form class="logform" action="/" method="POST">
        <label class="loguser" for="username">Username:</label>
        <input class="inuser" type="text" id="username" name="username" required><br><br>
        <label class="logpass" for="password">Password:</label>
        <input class="inpass" type="password" id="password" name="password" required><br>
        <h5 class="incorrectalert">Incorrect Login Information. <a href="">Contact Chiron?</a></h5>
        <button class="logbut" type="submit">SUBMIT</button>
    </form>
</div>
</div>
<div class="loginbg"></div>
<div class="fogdiv"></div>
<div class="fogdiv2"></div>
<div class="fogdiv3"></div>
<div class="shadow"></div>
<div class="leaves"></div>