<div class="todo">
    <h1>Assigned Quests</h1>
    <ul>
        <% quests.forEach((quest) => { %>
            <li>
            <a href="/quests/<%=quest.id%>">
            <button>
                <div>
                    <h2><%= quest.title %></h2>
                    <h3>Progress: <%= quest.complete %></h3>
                </div>
            </button>
            </a>
            </li>
    <% }) %>
    </ul>
</div>

<div class="welcomeban">
    <h1 class="name">Welcome,</h1>
    <h1 class="god">Child of</h1>
</div>

<div class="campbg"></div>
<div class="light"></div>
<div class="light2"></div>
<div class="sun1"></div>
<div class="sun2"></div>