<div class="todo">
    <ul>
        <% quests.forEach((quest) => { %>
            <li><%= quest.title %> - <%= quest.complete %></li>
    <% }) %>
    </ul>
</div>

<div class="welcomeban">
<h1 class="name">Welcome Percy Jackson,</h1>
<h1 class="god">Child of Poseidon</h1>
</div>

<div class="ann"><button>Announcements</button></div>
<div class="quests">
    <form action="quests">
        <input type="submit" value="Quests">
    </form>
</div>
<div class="iris"><button>Iris 2.0</button></div>
<div class="campbg"></div>
<div class="light"></div>
<div class="light2"></div>
<div class="sun1"></div>
<div class="sun2"></div>